<!doctype html>
<html>
<head>  
  <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Puritan:400">
  <link rel="stylesheet"  href="css/reset.css" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Liberty. Fraternity. Maximum Awesomeness.</title>
</head>
<body>
  <div class="wrapper">
    <div class="page-info">
      <div class="header">
        <img src="/img/me_icon.jpg" id="cover">
        <h2>
          Jacob Lyles
        </h2>
        <h3>
          engineer. activist. writer.
        </h3>
      </div>
      <ul>
        <li>
          <a href="mailto:jacob.lyles@gmail.com">email</a>
        </li>
        <li>
          <a href="https://twitter.com/jacoblyles">twitter @jacoblyles</a>
        </li>
        <li>
          <a href="https://github.com/jacoblyles">github</a>
        </li>
        <li>
          <a href="http://www.goodreads.com/user/show/8693028-jake">goodreads</a>
        </li>
      </ul>
    </div>


    <div class="right">
        {% block content %}
        {% endblock %}
        <div id="footer">
          {% block footer %}
          {% endblock %}
          <div style="clear:both">Please feel free to use this page's contents with attribution <a href="http://creativecommons.org/licenses/by/3.0">CC-BY-3.0</a></div>
        </div>
    </div>
  </div>
</body>
</html>


