<!doctype html>
<html>
<head>  
  <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Puritan:400">
  <link rel="stylesheet"  href="css/reset.css" />
  <link rel="stylesheet" href="css/main.css" />
  <title>Liberty. Fraternity. Maximum Awesomeness.</title>
</head>
<body>
  <div id="wrapper">
    <div id="title">
      Jacob Lyles
    </div>
    <div class="left">
      <ul id="nav">
        <li>
          <a href="/">home</a>
        </li>
        <li>
          <a href="/about.html">about</a>
        </li>
        <li>
          <a href="/writing.html">writing</a>
        </li>
        <li>
          <a href="/resume.html">resume</a>
        </li>
        <li>
          <a href="http://jacobexmachina.blogspot.com/p/structuralism.html">Structuralism</a>
        </li>
      </ul>
    </div>
    <div class="right">
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
      <div id="footer">
        copyright 1983 - 2012 
      </div>
    </div>
  </div>
</body>
</html>


