{% extends "_base.html" %}
{% block content %}
<img src="/img/fence_banner.jpg" id="cover">
<div id="text">
	<p>I'm a software engineer at <a href="http://www.coursera.org">Coursera</a> living in the SF bay area. I am also a <a href="http://startx.stanford.edu/">StartX alumnus</a>, and a former cofounder of <a href="http://www.gameclosure.com">Game Closure</a>. Find out more <a href="/about.html">about me</a></p>
	<p>Over the years I have accumulated a bit of writing. Check out a list of <a href="/writing.html">my works</a> and <a href="http://jacobexmachina.blogspot.com/p/favorites.html">collected favorites</a></p>
	<p>I invented a political philosophy called <a href="http://jacobexmachina.blogspot.com/p/structuralism.html">Structuralism</a>, and I care about it a lot. Good government technology is a necessary piece of the infrastructure for progress</p>

	<div id="contact">
		<h2>Contact me:</h2>
		<p>
			<a href="https://twitter.com/jacoblyles" class="twitter-follow-button" data-show-count="true">Follow @jacoblyles</a>
				<script>
					!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
				</script>
			</p>
		<p>
			<a href="http://www.linkedin.com/pub/jacob-lyles/11/9b6/17b">
      				<img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="View Jacob Lyles's profile on LinkedIn">
      			</a>
      		</p>
      		<p>
      			<a href="http://www.goodreads.com/user/show/8693028-jake"> <img border="0" alt="Jake's book recommendations, liked quotes, book clubs, book trivia, book lists (read shelf)" src="http://www.goodreads.com/images/badge/badge1.jpg"></a>
      		</p>
      		<p>
      			<a href="mailto:jacob.lyles@gmail.com">email</a>
		</p>
		<p>
			fork me on <a href="https://github.com/jacoblyles">github</a>
		</p>
	</div>
</div>									
{% endblock %}