{% extends "_base.html" %}
{% block content %}
<img src="/img/wake_banner.jpg" id="cover">
<div id="text">
	<h1>Resume</h1>
	Download the <a href="/jacoblyles_resume.pdf">PDF version</a>

	<div id="resume">
		<h2>Technical Skills</h2>
		<div class="item">
			<div class="header">Computer Languages</div>
			<div class="description">Python, JavaScript, Matlab, HTML, SQL, bash, Objective-C, C, Java</div>
		</div>
		<div class="item">
			<div class="header">APIs</div>
			<div class="description">Unix, iOS, Android, mongodb, HTTP, WSGI, SQL databases, node.js, GPGPU, git, Twitter Bootstrap, d3.js</div>
		</div>
		<h2>
			Work Experience
		</h2>
		<div class="item">
			<div class="header"><div class="position">Cofounder</div> <div class="company">Game Closure</div> <div class="date">2010 - 2012</div></div>
			<div class="description">I started Game Closure with three cofounders. Together, we built an awesome SDK for building mobile games in JavaScript, raised over $12 million, executed two acquistions, and built a great team of about 30 people. I wore a lot of hats at Game Closure. Here are some of the things I did:
				<ul>
					<li>I wrote internal management tools using node.js, backbone.js, mongodb, and Twitter's Bootstrap library</li>
					<li>I worked on our HTML5 game demo for Google I/O 2011, <a href="http://www.youtube.com/watch?v=8KACnnquQRo">Pop Star Defense</a>. That's my voice in the video.</li>
					<li>I hacked on game frameworks. This includes pure JavaScript libraries and native extensions to the JavaScript runtime, wrapping iOS and Android APIs so that they can be accessed by an embedded JS interpreter. I primarily used JavaScript, Python, Java, Objective-C, and C++</li>
					<li>I led two product teams from start to finish by gathering requirements, writing specifications, developing roadmaps, and leading development from day to day</li>
					<li>I sourced, interviewed, and hired candidates from four countries</li>
					<li>I handled the operations of the company, including accounting, banking, payroll, H1-B, and legal needs. I also found us some awesome office space through hustle and networking</li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="header"><div class="position">Teaching Assistant</div><div class="company">UCSD</div><div class="date">2009 - 2010</div></div>
			<div class="description">
				Created and graded homework assignments in collaboration with a rotating roster of lecturers as TA for a freshman survey course in Computer Science. Topics included computer vision, programming languages, machine learning, web application development, and tech startups.
			</div>
		</div>
		<div class="item">
			<div class="header"><div class="position">Machine Learning Intern</div><div class="company">Life Technologies</div><div class="date">2009</div></div>
			<div class="description">An R&D team at Life Tech wanted to see if they could speed up machine learning algorithms with GPGPU processing. Another grad student and I ran this experiment one summer and integrated it into the existing data flow of the research team, achieving speedup of 15x on a Gaussian Mixture Model. Our benchmarks proved the effectiveness of GPGPU processing, causing the R&D team to hire a permanent GPGPU team after the Summer 
			</div>
		</div>
		<div class="item">
			<div class="header"><div class="position">Investment Banking Analyst</div><div class="company">FBR Capital Markets</div><div class="date">2006 - 2008</div></div>
			<div class="description">At FBR, I was the analyst on deal teams that closed over $1 billion worth of transactions,  including sell-side M&A and equity capital markets deals. My responsibilities included building financial models and pitch decks, researching market data, and managing workflow between clients, acquirers, accountants, and lawyers
			</div>
		</div>
		<h2>
			Education
		</h2>
		<div class="item">
			<div class="header"><div class="position">MS - Computer Science</div><div class="company">UCSD</div><div class="date">class of 2010</div></div>
			<div class="description">
				<ul>
					<li>3.6 GPA</li>
					<li>concentration in Machine Learning</li>
					<li>third place in Yahoo! UCSD hackathon</li>
					<li>coauthor "Occupancy-Driven Energy Management for Smart Building Automation", Buildsys - 2010</li>
					<li>project: "Support Vector Machines for document topic classification"</li>
				</ul>
			</div>
		</div>
		<div class="item">
			<div class="header" style="font-size:0.9em;"><div class="position">BA - Mathematics and Economics</div><div class="company">Wake Forest University</div><div class="date">class of 2005</div></div>
			<div class="description">
				<ul>
					<li>3.7 major GPA</li>
					<li>3.6 GPA - magna cum laude</li>
					<li>"meritorious" top 15% ranking in COMAP international mathematical modeling competition</li>
					<li>coauthor "Luminescence and Stimulated Emission in Zinc Oxide Nanoparticles, Films, and Crystals" Radiation Effects & Defects in Solids - 2003</li>
					<li>appeared in "A Midsummer Night's Dream" and two choir concerts</li>
				</ul>
			</div>
		</div>
		<h2>Fun Projects</h2>
		<div class="item">
			<ul>
				<li><a href="/stats.html">My data experiments</a></li>
				<li><a href="https://github.com/jacoblyles/node-reddit">node-reddit</a> - Built a node.js command line client for authenticated reddit browsing</li>
				<li><a href="https://groups.google.com/forum/?fromgroups#!forum/sd-hackernews">San Diego Hacker News Meetup Group</a> - Founded the San Diego Hacker News meetup group which now has over 100 members</li>
				<li>Date Roulette - Finished third place in Yahoo! UCSD hackathon with a random blind date service</li>
				<li>Hacker Hues - Built a greasemonkey script for colorizing Hacker News articles with quality metrics</li>
				<li>myPhotos - Built a dynamic photogallery site for hosting personal photos</li>
			</ul>
		</div>
</div>
</div>
{% endblock %}