{% extends "_base.html" %}
{% block content %}
<img src="/img/red_me_banner.jpg" id="cover">
<div id="text">
	<h1>Writing</h1>
	<ul style="list-style-type:circle;">
		<li>My posts on <a href="http://athousandnations.com/author/jacoblyles/">Let a Thousand Nations Bloom</a></li>
		<li>My <a href="http://jacobexmachina.blogspot.com/">personal blog</a></li>
		<li>My <a href="http://spiritofsv.tumblr.com/">startups and tech blog</a></li>
		<li>I troll hard on <a href="http://news.ycombinator.com/user?id=jacoblyles">Hacker News</a></li>
		<li><a href="https://twitter.com/#!/jacoblyles">140 chars at a time</a></li>
		<li>My posts on <a href="http://distributedrepublic.net/blog/880">Distributed Republic/Catallarcy</a> (defunct)</li>
		<li><a href="http://prrometheus.blogspot.com/">Enlightened Liberty</a> - a blog exploring the intersection of Buddhism and Libertarianism (defunct)</li>
	</ul>
</div>
{% endblock %}